div {margin : auto; height : 250px; width: 100px; border-color: purple ; border-style: dotted ; border-width: 3px ; font-family: "Lucida Console", "Courier New", monospace;} /* adds stylised border, specific font and modifies element dimensions */

a:link { color : green ; text-decoration: underline;} /*when a link is unclicked*/
a:visited {color : purple ; text-decoration: none;} /*when a link is already clicked*/
a:hover {color : blue ; text-decoration: none;} /*when a link is being pointed on or hovered over by the cursor*/
a:active {color : red; text-decoration: none} /*when link is clicked*/